
<div class="page home">
    <div data-page="index" class="page navbar-fixed ">

      <div class="navbar animated flipInX body-color-text">
        <div class="navbar-inner">
          <div  class="open-panel search-job "><div class="image-search"></div><span>Buscar Servicios</span></div>
          
        </div>
      </div>

      <div class="page-content ">
          <div class="user-letter-container animated flipInY" style="animation-delay: {{$index}}s" ng-repeat="user in user">
           
              <div class="row">
                    <div class="col-75">
                      <div class="row">
                        <div class="col-40">
                            <div class="photo" style="background-image: url({{user.photo}});"></div>
                        </div>
                        <div class="col-60">
                            <div class="information">
                              <span><strong>{{user.name}} {{user.lastName}}</strong><samp>
                              <div><span>Buenos Aires - Ezeiza</span></div>
                              <div><span>Disponible</span></div>
                            </div>
                        </div>
                      </div>
                      <div class="container-score" ng-repeat="service in user.service" ng-if="service.name ='Electricista'">
                          <div class="score"></div>
                          <div class="score-background" >
                            <div class="background" style="width: {{service.score}}%;"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-25"> 
                  <a href="tel:1154112906"> <div class="call"></div></a>
                    <div class="message-comment"></div>
                  </div>
              </div>
              <div class="commentary">Ver comentarios</div>
          
        </div>
      </div>
    </div>
</div>



