<div   class="page login body-color-text" >
    <div class="page-content">
        <form class="login ">
            <h2>MENU</h2>
            <div class="container-btn">
            
                <button  ui-sref="home" class="button button-fill color-white animated bounceInLeft" style="animation-delay: 0.5s">Buscar Oficios</button>
                
                <div  ui-sref="singup-employee" class="button button-fill color-white  animated bounceInLeft" style="animation-delay: 1s"> Registrar mis servicios </div>

                <div ui-sref="" class="button button-fill color-white animated bounceInLeft" style="animation-delay: 1.5s">Publicar Herramientas</div>
                <div ui-sref="" class="button button-fill color-white animated bounceInLeft" style="animation-delay: 2s">Alquilar Herramientas</div>
                <div ui-sref="profile" class="button button-fill color-white animated bounceInLeft" style="animation-delay: 2.5s">Mi Perfil</div>
            </div>

        </form>
    </div>
</div>