<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-cover">
<div class="view navbar-fixed">
    <div class="pages">
    <div data-page="panel-left" class="page">
        <div class="navbar">
        <div class="navbar-inner">
            <div class="center">Menu</div>
        </div>
        </div>
        <div class="page-content">
        <div class="content-block">
            <p><a ng-click="gotoPage('home')">close me</a></p>
        </div>

        <div class="list-block">
            <ul>
            <li ng-click="gotoPage('profile')">
                <div class="item-content">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                <div class="item-title">Perfil</div>
                </div>
                </div>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>
</div>